<div class="control-group {% if separated %}separated{% endif %}{% if field.errors %} error{% endif %}">
  <label
     for="{{field.auto_id}}"
     class="control-label">{{field.label}}:
    {% if not field.field.required %}
    <br/>
    <em class="opt">(Optional)</em>
    {% endif %}
  </label>

  <div class="controls">
    <select
       name="{{field.auto_id}}"
       id="select-{{field.auto_id}}"       
       {% if field.field.widget.attrs.placeholder %}
       data-placeholder="{{ field.field.widget.attrs.placeholder }}"
       {% endif %}
       class="select">
      <!--option></option-->
      {% for item in queryset %}
      <option
	 value="{{item.id}}"
	 {% if field.value == item.id %}
	 selected="selected"
	 {% endif %}	 
	 >{{item}}</option>
      {% endfor %}
    </select>
    {{field.errors}}
  </div>
</div>