{% load dictionary_access %}
{% load static from staticfiles %}
{% for cause in causes %}
<div id="eco-{{cause.slug}}" class="eco-info">
  <h3>{{cause.title}}</h3>
  <div class="description">
    {{cause.description|safe}}
  </div>
  <br />

  {% if cause.id in certificates %}
  {% with cause_id=cause.id %}
    <h4>This product has the following certificates</h4>
    {% for cert in certificates|getitem:cause_id %}
    <div class="certificate cf">
      <a href="{{cert.url}}">
        {% if cert.image %}
        <img src="{{MEDIA_URL}}{{cert.image}}" alt="{{ cert.title }}" width="145" height="64" />
        {% else %}
        <img src="{% static 'images/certificates/' %}{{cert.id}}.jpg" alt="{{ cert.title }}" width="145" height="64" />
        {% endif %}
      </a>

      <strong>{{cert.title}}</strong>
      {% if cert.description %}
        <p>{{cert.description|safe}}</p>
      {% endif %}
    </div>
    {% endfor %}
  {% endwith %}
  {% endif %}
</div>
{% endfor %}