{% load url from future %}
{% load static from staticfiles %}

{# <div id="fileUploadModal" class="modal hide"> #}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Edit image</h3>
    </div>
    <div class="modal-body">
      This is the form for cropping the image

        <div id="file-cropper" data-target="{% url 'image_crop_edit' %}">
	  
            <noscript>
                <p>
                    Please enable JavaScript to use file uploader.
                </p>
            </noscript>
        </div>
    </div>
{# </div> #}

<link rel="stylesheet" type="text/css" href="{% static 'js/vendor/ajaxuploader/css/fileuploader.css' %}">
<script type="text/javascript" src="{% static 'js/vendor/ajaxuploader/js/fileuploader.js' %}"></script>
