*.egg
*.egg-info
*.tar.gz
*.py[co]
*.DS_Store
.junk
pip-log.txt
build
.pydevproject
.settings*
.coverage
.tox
htmlcov
.project
*.mo
.mr.developer.cfg
local_manage.py
local_settings.py
test_settings.py
/media/
/static/
.sass-cache
deploy.sh
.idea
*~
*.sw*
local_manage.py
site_local.json
.svn
/*.rdb
/xapian_index
/search_sites.py
/templates/fragments/static_category_dropdown.html
src/
.codeintel
debug.log
