{% extends 'base.html' %}
{% load url from future %}
{% load static from staticfiles %}

{% block mixpanel %}
mixpanel.track_links("#ask-question-link", "Clicked Ask a Question Button", function(){
    return {"Referring Button": "My Account Area"};
});
{% endblock %}

{% block pre_body_close %}
{super}
<script type="text/javascript">
$('.btn-start-selling').click(function(evt){
  $('#register-modal').data('tempAction', $(this).attr('data-next')).modal('show');
});
</script>
{% endblock %}

{% block title %}Eco Market makes it easy to sell online{% endblock %}

{% block content %}
    <div class="content primary-left cf">

      <div class="primary-content">
        <div class="page-header">
          <h1>Eco Market is made for you{% if name %} {{ name }}{% endif %}...</h1>
          <a href="#" class="btn btn-primary action btn-start-selling" data-next="{% url 'register' %}?next={% url 'create_stall' %}">Start selling</a>
        </div>

        <div class="how-it-works uk-version">
          <h2>How it works</h2>

          <ol class="cf">
            <li>
              <h3>Upload products.</h3>
              <p>Using our product uploader is super-easy and will get your products looking beautiful online in no time.</p>
            </li>
            <li class="middle">
              <h3>Get paid.</h3>
              <p>Customers pay for items on our site and we email you showing you where to post it straight away. We take just 10% when you sell something and you get paid quickly up to 48 hours after you dispatch the product.</p>
            </li>
            <li>
              <h3>Ship your items.</h3>
              <p>You dispatch your products directly just like you normally would, we’ll let your customers know.</p>
            </li>
          </ol>

        </div>

        <div class="spotlight cf">
          <div class="quote">

            <div class="quote-header">
              <h2>People love to sell with us!</h2>
              <a href="{% url 'my_stall' stall.slug %}">{{stall.title|capfirst}}</a>
            </div>

            <blockquote><p>&ldquo;{{seller.description}}&rdquo;</p></blockquote>

            <div class="stall-products">
              <h4 class="headline">Products</h4>
              {% with products=stall.products.live|slice:":3" %}
              <ul class="products cf">
                {% for product in products %}
                <li><a href="{{product.path}}" class="thmb"><img src="{{product.image.url_80}}" width="80" height="80" alt="{{product.title}} by {{stall.title|capfirst}}" /></a></li>
                {% endfor %}

              </ul>
              {% endwith %}
            </div>

          </div>

          <div class="video">
            <a href="{% url 'my_stall' stall.slug %}" class="thmb"><img src="{% static 'images/sell/sellers/' %}{{seller.image}}" alt="{{seller.username}}" width="333" height="219"></a>
          </div>

        </div>
        <div class="why-sell">
          <h2>Why sell with us?</h2>

          <ul class="cf">
            <li>
              <h3><a href="https://help.ecomarket.com/admin/content-management/articles/786074-how-does-eco-market-get-me-more-sales">Ramp Up your Product Sales</a></h3>
              <p>As a marketplace with thousands of products, a team working around the clock to promote it, we are able to pull in a lot of traffc and help get your eco and natural products seen and bought!</p>
            </li>
            <li>
              <h3><a href="http://help.ecomarket.com/customer/portal/articles/786075-how-does-eco-market-make-it-easy-to-sell-online-">Take the Headache out of Selling Online</a></h3>
              <p>Lets face it. Creating your own website to sell online is a
                  headache (and no-one likes a headache!). Eco Market
                  provides a simple natural cure for stall owners... we simply
                  do all the hard work for you! All that is left are the things you love already, your products.</p>
            </li>
            <li>
              <h3><a href="http://help.ecomarket.com/customer/portal/articles/786128-how-eco-market-makes-selling-online-personal">Provide the Personal Experience that Customers Love</a></h3>
              <p>Eco Market is more than just a marketplace. We provide tools to our members so that they can interact in a very personal way with each other. From webcam videos, to personalised activity streams, your customers get that personal "market stall" experience that they deserve.</p>
            </li>
            <li>
              <h3><a href="http://help.ecomarket.com/customer/portal/articles/396678-how-our-fees-work">Our Fees are Absolutely Tiny!</a></h3>
              <p>So what do we charge to do all these fabulous things. Must
                  be expensive, right? Wrong. We charge a measly 10% which is
                  taken from orders only when you sell something. Are we mad?
                  Maybe. But please do take advantage as our low stall owner
                  fees are something that we pride our crazy selves on!</p>
            </li>
          </ul>

          {% if cta_url %}
          <div class="sell-cta">
            <span class="btn-wrapper"><a href="{{ cta_url }}" class="btn btn-primary">let’s get started</a></span>
          </div>
          {% endif %}

        </div>

        <div class="press">
          {% block press %}{% endblock %}
        </div>

      </div>

      <div class="secondary-content">
        <div class="box box-blue">
          <h2 class="with-link"><a href="http://help.ecomarket.com/">Help Centre</a></h2>
          <div class="howto-box">

            <ul class="howto-list">
              <li>
                <a href="http://help.ecomarket.com/customer/portal/articles/774387-is-the-marketplace-global-" class="head">Is Eco Market international?</a>
                <p>Yes! We have have thousands of stall owners and customers
                    across the world.</p>
              </li>
              <li>
                <a href="http://help.ecomarket.com/customer/portal/articles/396678-how-our-fees-work" class="head">How do fees work?</a>
                 <p>We charge 10% of whatever you sell, nothing more, no hidden fees. You only pay for what you sell. Also known as a "no-brainer!"</p>
              </li>
              <li>
                <a href="http://help.ecomarket.com/customer/portal/articles/786128-how-eco-market-makes-selling-online-personal" class="head">Is there a minimum contract for selling?</a>
                <p>No, you can stop selling whenever you like. Minimum contract terms are nasty. We're not nasty, we're nice - and so are our terms.</p>
              </li>
            </ul>
            <div class="box-action">
              <a href="http://help.ecomarket.com/" id="ask-question-link">Ask a question</a>
            </div>

          </div>


        </div>
      </div>
    </div>
{% endblock %}
