{% extends 'main/sell/base.html' %}
{% load static from staticfiles %}

{% comment %}
{% block spotlight %}
  <div class="quote">

    <div class="quote-header">
      <h2>People love to sell with us!</h2>
      <a href="{{ stall.get_absolute_url }}">{{ stall.title }}</a>
    </div>

    <blockquote><p>{{ seller.description }}.</p></blockquote>

    <!--
    <div class="stall-products">
      <h4 class="headline">Products</h4>
      <ul class="products cf">
        <li><a href="#"><img src="{% static 'tmp/products/80x80/1.jpg' %}" alt=""></a></li>
        <li><a href="#"><img src="{% static 'tmp/products/80x80/2.jpg' %}" alt=""></a></li>
        <li><a href="#"><img src="{% static 'tmp/products/80x80/3.jpg' %}" alt=""></a></li>
      </ul>
    </div>
    -->

  </div>

  <div class="video">
    <img src="{% static 'images/sell/sellers/' %}{{ seller.image }}" alt="Some alt for video title">
  </div>
{% endblock %}
{% endcomment %}

{% block press %}
  <ul class="cf">
    <li>
      {% include 'main/sell/_fragments/_press_bbc.html' %}
    </li>
    <li>
      {% include 'main/sell/_fragments/_press_metro.html' %}
    </li>
      <li>
      {% include 'main/sell/_fragments/_press_treehugger_bird_house.html' %}
    </li>
  </ul>
{% endblock %}
