{% extends 'base.html' %}

{% block mixpanel %}
mixpanel.track("Clicked Email for Password Reset", {});
mixpanel.track_forms("#register-form", "Clicked Password Reset Submit Button", {});
{% endblock %}

{% block content %}
    <div class="content cf single-content">
        <div class="primary-content">

            <div class="page-header">
              <h1>Reset your password</h1>
            </div>

            {% if form.non_field_errors %}
            <div class="alert alert-block alert-error">
                <a href="#" data-dismiss="alert" class="close">×</a>
                <h4 class="alert-heading">Please fix following errors:</h4>
                <p>
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
            {% endif %}

            <form id="register-form" class="form form-login form-horizontal" action="" method="post">{% csrf_token %}

                <fieldset>
                    {% with field=form.new_password1 %}
                    <div class="control-group {% if field.errors %}error{% endif %}">
                      <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}:</label>
                      <div class="controls">
                        {{ field }}
                        {{ field.errors }}
                      </div>
                    </div>
                    {% endwith %}

                    {% with field=form.new_password2 %}
                    <div class="control-group {% if field.errors %}error{% endif %}">
                      <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}:</label>
                      <div class="controls">
                        {{ field }}
                        {{ field.errors }}
                      </div>
                    </div>
                    {% endwith %}
                </fieldset>

                <fieldset class="form-actions intended">
                    <input type="submit" value="Reset" class="btn btn-primary btn-large">
                </fieldset>

            </form>

        </div>
    </div>
{% endblock content %}
