{% extends 'base.html' %}

{% block mixpanel %}
{% endblock %}

{% block content %}
    <div class="content cf single-content">
        <div class="primary-content">

            <div class="page-header">
              <h1>You've been emailed with next steps!</h1>
            </div>

            <div class="alert alert-block alert-success">
                <h4 class="alert-heading">Check your email!</h4>
                <p>We've sent you an email just now. In it you'll find the next steps for getting your username or resetting your password.</p>
            </div>
        </div>
    </div>
{% endblock content %}
