{% extends 'base.html' %}

{% block mixpanel %}
mixpanel.track_forms("#register-form", "Submitted Password Reset", {});
{% endblock %}

{% block content %}
    <div class="content cf single-content">
        <div class="primary-content">

            <div class="page-header">
              <h1>Forgot your password or username?</h1>
            </div>

            {% if form.facebook_invalid %}
            <div class="alert alert-block alert-error cf">
              <p>Good news and bad news. It seems that this email address matches an account that used Facebook to <a href="/accounts/login/">sign in</a>, so we don't have access to your password to reset it (that was the bad news). Now the good news... all you need to do is log in to Facebook using this email address and your Facebook password, then come back to the site and click the facebook button when logging in here.</p>
            </div>
            {% else %}
            <p>Not a problem! It happens to the best of us! Just put in either your email address or your username (whichever you can remember) into the form below and we will email you with a reminder and a link where you can reset your password. If you are still stuck feel free to <a href="http://help.ecomarket.com/" target="_blank">get in touch</a> and someone in the 'forgot my password' department will run to your rescue!...</p>
            {% endif %}

            {% if form.non_field_errors %}
            <div class="alert alert-block alert-error">
                <a href="#" data-dismiss="alert" class="close">×</a>
                <h4 class="alert-heading">Please fix following errors:</h4>
                <p>
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
            {% endif %}

            <form id="register-form" class="form form-login form-horizontal" action="" method="post">{% csrf_token %}

                <fieldset>
                    {% with field=form.email %}
                    <div class="control-group {% if field.errors %}error{% endif %}">
                      <label for="{{ field.auto_id }}" class="control-label">Your username or email:</label>
                      <div class="controls">
                        {{ field }}
                        {{ field.errors }}
                      </div>
                    </div>
                    {% endwith %}
                </fieldset>

                <fieldset class="form-actions intended">
                    <input type="submit" value="EMAIL ME A REMINDER" class="btn btn-primary btn-large">
                </fieldset>

            </form>

        </div>
    </div>
{% endblock content %}
