header{
  position: relative;
  height: 185px;


  .logo{
    position: absolute;
    left: 360px;
    top: 30px;
    width: 230px;
    height: 158px;
    background: transparent url('../images/ecomarket.png') 0 0 no-repeat;
    color: transparent;
  }

}