#menu {
    position: relative;
	margin: 0;
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 2px 2px 2px 2px;
}
#menu h1 {
	text-transform: none;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu > ul > li {
	//position: relative;
	float: left;
	z-index: 20;
	padding-right: 10px;
}
#menu > ul > li > span, #menu > ul > li > a {
	line-height: 38px;
	//background: url("../images/arrow-down-gray.png") no-repeat scroll 100% 50% transparent;
	display: block;
    font-weight: bold;
	padding: 4px 15px 4px 10px;
	margin-bottom: 0;
	height: 38px;
	z-index: 6;
	position: relative;
	cursor: pointer;
}

#menu a, #menu a:link, #menu a:visited, #menu a:hover {
    text-decoration: none;
}

#menu > ul > li > div {
	position: absolute;
	z-index: 5;
	padding: 10px 5px 5px;
	opacity: 0;
	visibility: hidden;
}
#menu > ul > li:hover > div {
	display: table;
	opacity: 1;
	visibility: visible;
}
#menu > ul > li > div > ul {
	display: table-cell;
}
#menu > ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li ul > li > a {
	padding: 7px 9px;
	display: block;
	white-space: nowrap;
	min-width: 150px;
}
#menu > ul > li > div > ul > li > div {
	position: absolute;
	left: 170px;
	margin-top: -37px;
	z-index: 5;
	padding: 5px;
	opacity: 0;
	visibility: hidden;
}
#menu > ul > li > div > ul > li:hover > div {
	display: table;
	opacity: 1;
	visibility: visible;
}
#menu > ul > li > div > ul > li > div > ul {
	display: table-cell;
}
#menu > ul > li > div > ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li > div > ul > li ul > li > a {
	padding: 7px 9px;
	display: block;
	white-space: nowrap;
	min-width: 120px;
}

.underline {
    text-decoration: underline;
}

/*  Main menu category horizontal style  */

#menu-category-wall ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu-category-wall > ul > li {
	//position: relative;
	float: left;
	z-index: 20;
	padding-right: 5px;
    padding-left: 5px;
}
#menu-category-wall > ul > li > a > h1 {
	line-height: 30px;
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	//background: url("../images/arrow-down-gray.png") no-repeat scroll 100% 50% transparent;
	display: block;
	padding: 4px 13px 4px 13px;
	margin-bottom: 0;
	height: 38px;
	z-index: 1;
	position: relative;
    text-decoration: none;
	cursor: pointer;
}
#menu-category-wall > ul > li > div {
	display: none;
	position: absolute;
	z-index: 1;
	padding: 10px 25px 10px;
	margin-right: -11px;
    //font-family: 'Open Sans',Arial,Helvetica,sans-serif !important;
}
#menu-category-wall > ul > li > div > div {
	margin-left: 12px;
	margin-bottom: 20px;
	width: 215px;
}
#menu-category-wall > ul > li > div > div > div.image {
	text-align: center;
}
#menu-category-wall > ul > li > div > div > div.image img {
	max-width: 80px;
}
#menu-category-wall > ul > li:hover > div {
	display: block;
}
#menu-category-wall > ul > li > div > ul {
	display: table-cell;
}
div.menu-category-wall-sub-name {
	padding-left: 7px;
	margin-bottom: 1px;
}
div.menu-category-wall-sub-name a {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: underline;
    line-height: 30px;
    padding-bottom: 8px;
}
div.menu-category-wall-sub-name + div > ul > li {
	padding: 4px 0;
    line-height: 7px;
}
div.menu-category-wall-sub-name + div > ul > li a {
    padding: 7px;
}


#menu #homepage {
    background-color: #333333 !important;
    margin-left: 0;
}
#menu #homepage:hover {
    background-color: #66BCDA !important;
}
#menu #homepage a {
    color: #FFFFFF !important;
}
#menu #homepage a:hover {
    color: #FFFFFF !important;
}
#menu > ul > li, #menu-category-wall > ul > li, #menu_oc > ul > li {
    //background-color: #66BCDA !important;
    background: linear-gradient(#75BDE5, #4F9DD7) repeat scroll 0 0 transparent;
}

#menu-category-wall > ul > li.current {
    background: #4F9DD7 !important;
}

#menu > ul > li:hover, #menu-category-wall > ul > li:hover, #menu_oc > ul > li:hover {
    background: #4F9DD7 !important;
}
#menu > ul > li > div, #menu-category-wall > ul > li > div, #menu_oc > ul > li > div {
    border-top: 2px solid #4F9DD7 !important;
    position: absolute;
    left: 0;
}
#menu > ul > li > span, #menu-category-wall > ul > li > a, #menu > ul > li > a, #menu_oc > ul > li > a, .navbar .brand {
    color: #FFFFFF !important;
}
#menu > ul > li > span:hover, #menu-category-wall > ul > li > a:hover, #menu > ul > li > a:hover, #menu_oc > ul > li > a:hover {
    color: #FFFFFF !important;
}
div.menu-category-wall-sub-name a {
    color: #545454 !important;
}

#menu {
    //background-color: #EE3963 !important;
    background: linear-gradient(#75BDE5, #4F9DD7) repeat scroll 0 0 transparent;
    padding-left: 2px;
    //background-color: #66BCDA;
    //background-image: none;
    //background-repeat: repeat !important;
    //border-radius: 0 0 0 0;
}
@media (min-width: 768px) and (max-width: 979px) {
#menu {
    background-image: none;
    background-repeat: repeat !important;
}
}
#menu_oc > ul > li > a, #menu-category-wall > ul > li > a, #menu > ul > li > span, #menu > ul > li > a, #menu_brands > ul > li > a, .menu_links a, #menu_informations > ul > li > a, #menu_your_account > ul > li > span, #menu_custom_block > ul > li > a, #menu_contacts > ul > li > a, #menu #homepage a, .navbar .brand {
    //font-size: 15px !important;
    font-weight: normal !important;
    text-transform: uppercase;
}
.navbar-inner {
    background-color: #66BCDA;
    border-color: #66BCDA;
}
#menu #homepage {
    background-color: #333333 !important;
    margin-left: 0;
}
#menu #homepage:hover {
    background-color: #4F9DD7 !important;
}
#menu #homepage a {
    color: #FFFFFF !important;
}
#menu #homepage a:hover {
    color: #FFFFFF !important;
}
#menu > ul > li, #menu-category-wall > ul > li, #menu_oc > ul > li {
    background-color: #66BCDA !important;
}
#menu > ul > li:hover, #menu-category-wall > ul > li:hover, #menu_oc > ul > li:hover {
    background-color: #4F9DD7 !important;
}
#menu > ul > li > div, #menu-category-wall > ul > li > div, #menu_oc > ul > li > div {
    border-top: 2px solid #4F9DD7 !important;
}
#menu > ul > li > span, #menu-category-wall > ul > li > a, #menu > ul > li > a, #menu_oc > ul > li > a, .navbar .brand {
    color: #FFFFFF !important;
}
#menu > ul > li > span:hover, #menu-category-wall > ul > li > a:hover, #menu > ul > li > a:hover, #menu_oc > ul > li > a:hover {
    color: #FFFFFF !important;
    background-color: #4F9DD7 !important;
}
div.menu-category-wall-sub-name a {
    color: #545454 !important;
}

#menu > ul > li > div, #menu-category-wall > ul > li > div, #menu > ul > li > div > ul > li > div, #menu_oc > ul > li > div, #menu_brands > ul > li > div, #menu_informations > ul > li > div, #menu_your_account > ul > li > div, #menu_custom_block > ul > li > div, #menu_contacts > ul > li:hover > div {
    background-color: #FFFFFF !important;
}
#menu, #menu_informations h1, #menu_your_account h1, #menu_custom_block h1, #menu_contacts h1, #menu_contacts h2, #menu_contacts span {
    color: #545454 !important;
}
#menu > ul > li ul > li > a,
#menu-category-wall > ul > li ul > li > a > h3,
#menu > ul > li > div > ul > li > a,
#menu > ul > li > div > ul > li ul > li > a,
#menu > ul > li > div > ul > li > div > ul > li > a, {
    color: #3a8dd7 !important;
    font-size: 13px;
    margin: 0;
    line-height: 0;
}
#menu-category-wall h2 {
    font-size: 13px;
}
#menu > ul > li ul > li > a:hover, div.menu-category-wall-sub-name a:hover, #menu-category-wall > ul > li ul > li > a:hover, #menu > ul > li > div > ul > li > div > ul > li > a:hover, #menu_oc > ul > li > div > ul > li > a:hover, #menu_brands a:hover, #menu_informations > ul > li ul > li > a:hover, #menu_your_account > ul > li ul > li > a:hover, #menu_custom_block > ul > li ul > li > a:hover {
    //color: #EE3963 !important;
}
#menu_brands > ul > li > div > div {
    border-left: 1px solid #F3F3F3;
}
#menu-category-wall > ul > li > div > div.span-first-child, #menu_brands > ul > li > div > div.span-first-child {
    border-left: medium none;
}
#menu > ul > li ul > li > a:hover, #menu > ul > li > div > ul > li ul > li > a:hover, #menu_oc > ul > li ul > li > a:hover, div.menu-category-wall-sub-name + div > ul > li:hover, #menu_informations > ul > li ul > li > a:hover, #menu_your_account > ul > li ul > li > a:hover, #menu_custom_block > ul > li ul > li > a:hover {
    background-color: #F8F8F8 !important;

}
div.menu-category-wall-sub-name, #menu_your_account h1, #menu_informations h1, #menu_custom_block h1, #menu_contacts h1 {
    background-color: #F8F8F8 !important;
}
#menu > ul > li > div, #menu-category-wall > ul > li > div, #menu > ul > li > div > ul > li > div, #menu_oc > ul > li > div, #menu_brands > ul > li > div, #menu_informations > ul > li > div, #menu_your_account > ul > li > div, #menu_custom_block > ul > li > div, #menu_contacts > ul > li > div {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3) !important;
}

#menu-category-wall > ul > li > a, #menu > ul > li > span, #menu > ul > li > a {
    //font-family: Oswald,Arial,Helvetica,sans-serif !important;
}