<div class="box box-blue">
  <h2>Stuck? We Can Help You...</h2>
  <div class="howto-box">
    <ul class="howto-list">
      <li>
        <p>To continue to checkout just click the green 'go to checkout' button. Remember, you must do this for each different stall owner you buy from (our checkout will take you through this process).</p>
        <p>Still need help? You can <b>call our friendly customer support team on +44 (0) 20 8144 8326</b> any time.</p>
      </li>
    </ul>
    <div class="box-action">
      <a href="http://help.ecomarket.com/customer/portal/emails/new" rel="external">Contact us</a>
    </div>
  </div>
</div>
