{% load url from future %}
<li class="message">
    <div class="author">
        <img src="{{message.sender.get_profile.avatar_50 }}" alt="{{ message.sender.username }}" width="50" height="50">
    </div>
    <div class="message-box {% if forloop.last %}last-message{% endif %}" id="scroll-target-view">
        <a href="{% url 'public_profile' message.sender.username %}" class="message-author permalink">{{ message.sender.username }} Says:</a>
        <span class="message-meta"><time>{{ message.sent_at|timesince }} Ago</time></span>
        <div class="message-body">
            <p>{{ message.body }}</p>
        </div>
        {% ifequal tab 'inbox' %}
            {% ifequal from 'view' %}
                {% ifequal message.pk message_to_reply.pk %}
                    <a href="#reply-message" class="btn-reply-messages ajax"  data-toggle="modal" data-source="{% url 'messaging_reply' message.pk %}" data-target="#reply-message">Reply</a><br/>
                {% endifequal %}
            {% endifequal %}
        {% endifequal %}    
    </div>    
</li>
