{% load absurl_tag %}
<p>Hello {{ user.first_name }}</p>

<p>You recently requested to be send a reminder for your username or password for the eco-friendly and natural marketplace <a href="http://www.ecomarket.com">http://www.ecomarket.com</a></p>

<p>Your username on Eco Market is: {{ user.username }}</p>
<p>Your email address on Eco Market is {{ user.email }}</p>

<p>You can use either your username or email to log in, its entirely up to you!</p>

<p>If you wish to reset your password and have forgotten it, you can do so by clicking this link below:</p>

<a href="{% absurl password_reset_confirm uidb36=uid token=token %}">{% absurl password_reset_confirm uidb36=uid token=token %}</a>

<p>If you think this email was sent to you by mistake please disregard it.</p>

<p>Hope you enjoy the site and if you are still stuck feel free to <a href="http://help.ecomarket.com/" target="_blank">contact us</a> and we’ll be happy to help.</p>
