{% extends 'accounts/account/base.html' %}

{% block content_tab %}
    <form  id="form" class="form form-horizontal" action="" method="post">{% csrf_token %}
        <fieldset>
            {% for field in form %}
            {% ifequal field.name 'share_love_list_in_activity' %}{% else %}
            {% ifequal field.name 'share_purchases_in_activity' %}{% else %}
                <div class="control-group {% if field.errors %}error{% endif %}">
                  <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}:</label>
                  <div class="controls">
                    {{ field }}
                    {{ field.errors }}
                  </div>
                </div>
            {% endifequal %}{% endifequal %}
            {% endfor %}
        </fieldset>

        <fieldset class="form-actions">
            <input type="submit" class="btn btn-primary btn-large" value="Save Changes"/>
        </fieldset>
    </form>
{% endblock content_tab %}
