$default: "Helvetica Neue",Helvetica,Arial,sans-serif;
$serif: "bree-serif", Georgia, Times, serif;
$sans: "proxima-nova", Helvetica, Arial, sans-serif;

$text_color: #4E4842;
$text: $text_color;

$light_text_color: #777676;
$subtle_text: $light_text_color;
$subtle_color: $subtle_text;

// default links
$link_color: #7D8E41;
$link_hover: #4E4842;
$link_active: #000;

// subtle links
$subtle_link_color: #6E6E6E;
$subtle_link_hover: #4E4842;
$subtle_link_active: #000;

$dark_link_color: #4E4842;
$dark_link_hover: #000;
$dark_link_active: #000;

$priceColor: #C8652B;
$price_color: $priceColor;

$blue: #66A7D0;
$ui_blue: #66b0df;
$tag_blue: #3e8fc0;
$tag_hover: #4E4842;
$tag_active: #000;

$orange: #db752e;


$subtle_border: #e5e5e5;

$baseFont: 13px;