
<p>Hello {{ user.first_name }}</p>

<p>Congratulations you are now the proud owner of your very own Stall on Eco Market. You can login and manage every aspect of your Stall such as adding and editing your inventory , shipping and orders anytime by going to <a href="http://www.ecomarket.com">http://www.ecomarket.com</a></p>

<p>We suggest that you login using the username and password you registered with and get started straight away by <a href="http://www.ecomarket.com/products/new">adding your first product</a>, don't forget the early bird catches the worm!</p>
