.eco-icons{
  height: 45px;
  margin: 5px 0 10px -2px;

  a{
    position: relative;
    top: 0;
    @include transition(top, 0.2s)
  }

  .active{
    top: 10px;

    .icon{
      @include opacity(1);
    }
  }

  .icon{
    width: 45px;
    height: 48px;
    margin-right: 0px;
    @include transition(opacity, 0.25s, ease-in-out);
    @include opacity(0.75);
    cursor: pointer;

    &:hover{
      @include opacity(1);
    }
  }

  /* new icons */

  .icon-natural-products {
    background:url('../images/causes/new/natural.png') no-repeat;
    &.icon-certified{
      background:url('../images/causes/new/certified/natural.png') no-repeat;
    }
  }
  .icon-energy-efficient-products {
    background:url('../images/causes/new/energy-efficient.png') no-repeat;
    &.icon-certified{
      background:url('../images/causes/new/certified/energy-efficient.png') no-repeat;
    }
  }
  .icon-vegan-products {
    background:url('../images/causes/new/vegan.png') no-repeat;
    &.icon-certified{
      background:url('../images/causes/new/certified/vegan.png') no-repeat;
    }
  }
  .icon-biodegradable-products {
    background:url('../images/causes/new/biodegradable.png') no-repeat;
    &.icon-certified{
      background:url('../images/causes/new/certified/biodegradable.png') no-repeat;
    }
  }
  .icon-recycled-products {
    background:url('../images/causes/new/recycled.png') no-repeat;
    &.icon-certified{
      background:url('../images/causes/new/certified/recycled.png') no-repeat;
    }
  }
  .icon-organic-products {
    background:url('../images/causes/new/organic.png') no-repeat;
    &.icon-certified{
      background:url('../images/causes/new/certified/organic.png') no-repeat;
    }
  }
  .icon-fairly-traded-products {
    background:url('../images/causes/new/fairly-traded.png') no-repeat;
    &.icon-certified{
      background:url('../images/causes/new/certified/fairly-traded.png') no-repeat;
    }
  }
  .icon-forest-friendly-products {
    background:url('../images/causes/new/forrest-friendly.png') no-repeat;
    &.icon-certified{
      background:url('../images/causes/new/certified/forrest-friendly.png') no-repeat;
    }
  }
  .icon-water-conservation-products {
    background:url('../images/causes/new/water-conservation.png') no-repeat;
    &.icon-certified{
      background:url('../images/causes/new/certified/water-conservation.png') no-repeat;
    }
  }
  .icon-animal-friendly{
    background:url('../images/causes/new/animal-friendly.png') no-repeat;
    &.icon-certified{
      background:url('../images/causes/new/certified/animal-friendly.png') no-repeat;
    }
  }


}


.eco-credentials{

  p{
    font-size: 13px;
  }

  padding: 10px 0 20px 0;

}

.eco-descriptions{

  .eco-info{
    padding: 10px 24px;
    margin: 20px -24px 10px -24px;
    display: none;
    background: #fafafa;
  }

  .certificate{

    position: relative;
    padding: 5px 5px 5px 160px;
    margin: 5px 0;

    img{
      position: absolute;
      left: 0;
      top: 8px;
    }


  }

}

.side-eco-credentials{
  .eco-info{
    margin: 20px -19px 10px -19px;
  }

  .certificate{
    padding-left: 100px;

    img{
      width: 90px;
    }

  }
}
