{% extends 'base.html' %}
{% load url from future %}
{% load add_get_parameter %}
{% load string_tags %}

{% block content %}

{% url 'sold' as sold_url %}
{% url 'sold_awaiting_shipping' as sold_awaiting_shipping_url %}
{% url 'sold_awaiting_feedback' as sold_awaiting_feedback_url %}
{% url 'sold_completed' as sold_completed_url %}
{% url 'sold_all' as sold_all_url %}

{% block mixpanel %}
mixpanel.track_links("#add-product-for-sale-link", "Clicked Product Upload Button", {});
{% endblock %}

{# TODO: This is somewhat a duplicate of accounts/sold.html, remove it? #}
<div class="content cf wider-sidebar">
    <div class="primary-content">
        {% include 'accounts/fragments/tabs.html' %}
        <h2>Product's I've sold</h2>
        <nav class="section-tabs">
        <ul class="nav nav-tabs">
            <li class="{% if request.path|startswith:sold_awaiting_shipping_url %}active{% endif %}{% ifequal request.path sold_url %}active{% endifequal %}">
              <a href="{{ sold_awaiting_shipping_url }}">AWAITING SHIPPING</a>
              {#<em class="badge">16</em>#}
            </li>
            <li class="{% if request.path|startswith:sold_awaiting_feedback_url %}active{% endif %}">
              <a href="{{ sold_awaiting_feedback_url }}">AWAITING FEEDBACK</a>
              {#<em class="badge">5</em>#}
            </li>
            <li class="{% if request.path|startswith:sold_completed_url %}active{% endif %}">
              <a href="{{ sold_completed_url }}">COMPLETED</a>
            </li>
            <li class="{% if request.path|startswith:sold_all_url %}active{% endif %}">
              <a href="{{ sold_all_url }}">ALL</a>
            </li>
        </ul>
        </nav>

        <div class="tab-content">
            <div class="tab-pane active" id="published">

                <div class="account-orders">
                    <div class="sorter">
                        <a href="#" class="date dark-link active">Date <i class="icon icon-chevron-down"></i></a>
                        <span class="quantity">Qty</span>
                        <a href="#" class="price dark-link">Price</a>
                    </div>

                    <!-- single seller order entry -->
                    {% for order in orders %}
                    <div class="order-box dashboard-order-box content-box">
                        <div class="cf user-order">
                            <strong class="user-name">
                                <a href="{{ order.user.get_profile.get_absolute_url }}" class="avatar"><img src="../tmp/users/30x30/1.jpg" width="30" height="30" alt="{{ order.user.username }}"></a>
                                <a href="#">{{ order.user.username }}</a>
                            </strong>

                            <span class="order-number">Order No. {{ order.id }}</span>

                            <div class="btn-group order-actions">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="icon icon-cog"></i>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url invoice order_id=order.id %}">See full order details</a></li>
                                    <li><a href="#">Message customer</a></li>
                                    <li><a href="#">Mark as shipped</a></li>
                                    <li><a href="#">Send feedback</a></li>
                                </ul>
                            </div>




                            <div class="order-details">
                                <ul class="list">
                                    {% for line_item in order.line_items.all %}
                                    <li class="order-item">
                                    <div class="thumb">
                                        <a href="#"><img src="{{line_item.product.image.url_80}}" width="80" height="80" alt="product name here"></a>
                                    </div>
                                    <div class="info">
                                        <a href="#" class="name dark-link">{{ line_item.product.name }}</a>
                                    </div>
                                    <span class="date">{{ line_item.created }}</span>
                                    <span class="quantity">{{ line_item.quantity }}</span>
                                    <div class="product-price">
                                        <strong class="price">£{{ line_item.price }} GBP</strong>
                                    </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="actions">

                                <dl class="totals cf">
                                    <dt>Subtotal</dt>
                                    <dd>
                                    <strong>£{{order.subtotal}} GBP</strong>
                                    </dd>

                                    <dt>Delivery</dt>
                                    <dd>
                                    <strong>£{{order.delivery_charge}} GBP</strong>
                                    <span class="approx">$19.99 CDN</span>
                                    </dd>


                                    <dt class="total">Total</dt>
                                    <dd class="total">
                                    <strong>£{{order.total}} GBP</strong>
                                    <span class="approx">$29.99 CDN</span>
                                    </dd>
                                </dl>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- /single seller order entry -->

                    <div class="bottom-filtering cf">
                        {% if is_paginated %}
                        <div class="pagination pagination-left pull-left">
                            <ul>
                                {% if page_obj.has_previous %}
                                <li>
                                <a href="{% add_get_parameter page=page_obj.previous_page_number %}">
                                    <i class="icon icon-chevron-left icon-white"></i>
                                </a>
                                </li>
                                {% endif %}
                                {% for page in paginator.page_range %}
                                {% if page.number == page.number %}
                                <li class="active"><a href="{% add_get_parameter page=page %}">{{ page }}</a></li>
                                {% else }
                                <li><a href="{% add_get_parameter page=page %}">{{ page }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li>
                                <a href="{% add_get_parameter pagpage_obj.next_page_number %}">
                                    <i class="icon icon-chevron-right icon-white"></i>
                                </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>

                        {#
                        <div class="pagination per-page pagination-right pull-right">
                            <span class="pagination-label">Show:</span>
                            <ul>
                                <li class="active"><a href="#">12</a></li>
                                <li><a href="#">24</a></li>
                                <li><a href="#">48</a></li>
                                <li><a href="#">All</a></li>
                            </ul>
                        </div>
                        #}
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="secondary-content">
        {% include 'accounts/includes/profile_completion.html' %}
    </div>

</div>
{% endblock content %}
