<div class="alert alert-block alert-error hidden">
  <a class="close"
     data-dismiss="alert"
     href="#">×</a>
  <h4 class="alert-heading">Please fix following errors:</h4>
  <p>
    Change a few things up and try submitting again. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <br/>
  <a href="#" data-dismiss="alert"
     class="btn btn-flat btn-gray">cancel</a>
  <a href="#"
     data-dismiss="alert"
	 class="btn btn-flat btn-green">save</a>
</div>
