{% extends 'comments/form.html' %}
{% load comments %}
{% load static from staticfiles %}

{% block form_outer %}
<div id="status-form">
    {% get_comment_form for object as form %}
    {{ form.disable_facebook_by_default|yesno:"," }}
    <form action="{% comment_form_target %}" method="post" id="comment-form-{{ object.id }}" id="status-form" class="form form-horizontal status-form">
        {% csrf_token %}
        {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        {{ form.object_pk }}
        {{ form.content_type }}
        {{ form.timestamp }}
        {{ form.security_hash }}
        <fieldset>
            {% with field=form.comment %}
            <div class="control-group {% if field.errors %}error{% endif %}">
                <div class="control-label">
                    {% with fullname=request.user.username|default:request.user image=request.user.get_profile.avatar_50 %}
                        <a href="#" class="thmb"><img src="{% if image %}{{ image }}{% else %}{% static 'images/avatar/50x50/default.png' %}{% endif %}" alt="{{ fullname }}" /></a>
                    {% endwith %}
                </div>
                <div class="controls">
                    <textarea name="comment" id="id_comment" placeholder="What's on your mind..." class="span6"></textarea>
                    {{ field.errors }}
                    <a href="javascript:void(0);" class="btn btn-green btn-primary btn-comment" id="send_comment" data-source="{% comment_form_target %}" data-id="form.status-form">Say it</a>
                    {% if user.get_profile.has_facebook_auth %}
                      <div class="pull-right comment-privacy">
                        <label class="fb-hint inline" for="id_post_to_facebook">{{ form.post_to_facebook.label }}</label>{{ form.post_to_facebook }}
                      </div>
                    {% else %}
                      <div class="pull-right comment-privacy">
                        <span class="fb-hint">Post this comment to facebook too</span>
                      </div>                    
                    {% endif %}
                </div>
            </div>
            {% endwith %}
        </fieldset>
    </form>
</div>
{% endblock %}
