{% extends 'base.html' %}
{% load url from future %}
{% load alerts %}
{% load static from staticfiles %}

{% block css %}
<link
   rel="stylesheet"
   type="text/css"
   href="{% static 'js/vendor/ajaxuploader/css/fileuploader.css' %}">
<link
   rel="stylesheet"
   type="text/css"
   href="{% static 'js/vendor/jcrop/css/jquery.Jcrop.min.css' %}">
{% endblock %}

{% block js %}
<script
   type="text/javascript"
   src="{% static 'js/vendor/bootstrap-typeahead/bootstrap-typeahead.js' %}"></script>
<script
   type="text/javascript"
   src="{% static 'js/vendor/ajaxuploader/js/fileuploader.js' %}"></script>
<script
   type="text/javascript"
   src="{% static 'js/product_uploader.js' %}"></script>
<script
   type="text/javascript"
   src="{% static 'js/image_crop.js' %}"></script>
<script
   type="text/javascript"
   src="{% static 'js/stall_shipping.js' %}"></script>
<script
   type="text/javascript"
   src="{% static 'js/vendor/jcrop/js/jquery.Jcrop.min.js' %}"></script>
<script
   type="text/javascript"
   src="{% static 'js/utils.js' %}"></script>
<script
   type="text/javascript"
   src="{% static 'js/field_tracker.js' %}"></script>
{% endblock %}

{% block mixpanel %}
    // TODO re-enable this and make sure the product form still works
    //mixpanel.track_forms('.product-form', "Submitted Product Form", Ecomarket.Utils.getPropertiesFromProductForm);
{% endblock %}

{% block content %}
<div class="content cf wider-sidebar">
  <div class="primary-content">
    <!-- flash alert -->
    {% include 'accounts/fragments/tabs.html' %}

    {% if form_errors %}
{#    {% alert_invalid_form %}#}
    {% alert error "Sorry, there were a few mistakes:" "These need fixing before we can save this product for you. Please scroll down and you can see the problems highlighted in red." http://help.ecomarket.com %}
    {% endif %}

    <h2>List Products</h2>
    <form
       class="product-form form form-horizontal"
       action="."
       method="post"
       id="product-form">
      {% csrf_token %}

      {% with form=product_form %}
      {% include 'marketplace/product/info.html' %}
      {% include 'marketplace/product/causes_certs.html' %}

      {% with formset=images_formset %}
      {% include 'marketplace/product/image_upload_formset.html' %}
      {% endwith %}

      {% include 'marketplace/product/details.html' %}

      {% with form=price_form %}
      {% include 'marketplace/product/price.html' %}
      {% endwith %}

      {% include 'marketplace/product/stock.html' %}

      {% include 'marketplace/shipping/profiles.html' %}
      {% endwith %}

      <fieldset class="form-actions">
  <input type="hidden" id="save-publish" name="save-publish" value="save-publish" disabled="disabled">
	<input
       id="publish-button"
	   type="submit"
	   class="btn btn-primary btn-large single-trigger"
	   name="save-publish"
	   value="Publish Now" />
  <input type="hidden" id="save-draft" name="save-draft" value="save-draft" disabled="disabled">
	<input
       id="save-unpublished-button"
	   type="submit"
	   class="btn btn-secondary btn-large single-trigger"
	   name="save-draft"
	   value="Save as Unpublished" />
      </fieldset>
    </form>
  </div>

  <div class="secondary-content">
    {% comment %}
    <div class="box box-blue">
      <h2>Stall Completeness</h2>
      <div class="completeness-box">
	<div class="completeness">
	  <span class="value">65%</span>
	  <em style="height:65%"></em>
	</div>
	<strong class="slogan">Complete stalls sell more products!</strong>
      </div>
      <ul class="side-list">
	<li class="done">
	  Here is one item done
	</li>
	<li>
	  <a href="#">Here is another item</a>
	</li>
	<li>
	  <a href="#">Let me see third item</a>
	</li>
	<li>
	  <a href="#">And last one item here</a>
	</li>
      </ul>
    </div>
    {% endcomment %}
    {% comment %}
    <div class="box box-blue">
      <h2>Stall Owner Score</h2>
      <div class="score-box score-high">
	<div class="score">
	  <!-- can be low, medium or hight -->
	  <span class="value high">You have high score!</span>
	</div>
	<strong class="slogan">Higher scores mean higher sales!</strong>
      </div>
      <ul class="side-list">
	<li class="done">
	  Here is one item done
	</li>
	<li>
	  <a href="#">Here is another item</a>
	</li>
	<li>
	  <a href="#">Let me see third item</a>
	</li>
	<li>
	  <a href="#">And last one item here</a>
	</li>
      </ul>
    </div>
    {% endcomment %}
    {% comment %}
    <div class="box box-blue">
      <h2>Store URL</h2>
      <p>
	Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco nisi ut aliquip ex ea commodo consequat.
      </p>
      <div class="share-url">
	<input type="text" value="http://ecomarket.com/linkurl/store">
	<a href="#" class="btn btn-flat btn-blue">copy</a>
      </div>
    </div>
    {% endcomment%}

    {% include 'accounts/includes/profile_tip.html' %}

  </div>
</div>

{# Modals #}
<div id="uploadModal" class="modal hide">
</div>

{% endblock content %}
